/*====================
  Custom Properties
====================== */

:root {
  /* Colors */
  --clr-dark: #111517;
  --clr-light: #fafafa;
  --clr-grey: #848484;
  --clr-pure-white: #ffffff;
  --clr-pure-black: #000000;

  /* Fonts */
  --fs-900: 1.375rem;
  --fs-800: 0.8125rem;
  --fs-700: 1.125rem;
  --fs-600: 0.75rem;
  --fs-500: 0.8125rem;
}

@media (min-width: 50em) {
  :root {
    --fs-900: 2rem;
    --fs-800: 1.5rem;
    --fs-600: 1rem;
  }
}

/*====================
        Resets
====================== */

/* Box Sizing  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
p,
h1,
h2,
h3,
figure,
picture,
image,
ul {
  margin: 0;
}

/* Set up the root */
#root {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--fs-500);
  color: var(--clr-dark);
  background: var(--clr-light);
}

/* make images and pictures easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*====================
    Utility Classes
====================== */

/* General */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 100rem;
}

@media (min-width: 50em) {
  .container {
    padding-inline: 5rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Font Sizes */

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}

/* Font Weights */

.fw-800 {
  font-weight: 800;
}
.fw-600 {
  font-weight: 600;
}
.fw-400 {
  font-weight: 400;
}
.fw-300 {
  font-weight: 300;
}

/* Colors */
.txt-dark {
  color: var(--clr-dark);
}
.txt-grey {
  color: var(--clr-grey);
}
.txt-pure-black {
  color: var(--clr-pure-black);
}

.bg-light {
  background-color: var(--clr-light);
}
.bg-white {
  background-color: var(--clr-pure-white);
}

.br {
  border-radius: 5px;
}
.br-2 {
  border-radius: 2px;
}
.bx-s {
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.06);
}
.bx-s-1 {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}
.bx-s-2 {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
}

/*====================
   Page Specifics
====================== */

/* Header */

.primary-header {
  padding: 2rem 1rem;
}

.primary-header-container {
  justify-content: space-between;
}

.primary-header-container a {
  text-decoration: none;
}

.change-mode-container {
  align-items: center;
  --gap: 0.5rem;
  cursor: pointer;
}

/* Home */

.home-container {
  margin-block: 1.5rem;
}
@media (min-width: 50em) {
  .home-container {
    margin-block: 3rem;
  }
}

/* Search section */

.home-search-section {
  --gap: 2.5rem;
  flex-direction: column;
}

.home-search-bar-container {
  width: 100%;
  padding: 1rem 2rem;
  --gap: 1.5rem;
  z-index: 10;
}

.home-search-bar {
  border: 0;
  outline: 0;
}

.home-search-bar::placeholder {
  color: var(--clr-grey);
}

/* Filter */

.filter-container {
  position: relative;
}

.filter-title-container {
  width: 200px;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  user-select: none;
  position: relative;
  z-index: 10;
}

.options-container {
  padding: 1rem 0rem;
  width: 200px;
  position: absolute;
  margin-top: 0.25rem;
  --gap: 0;
  transform: translateY(-10%);
  opacity: 0;
  visibility: hidden;
  transition: transform 350ms ease-in-out, opacity 150ms linear;
}

.option {
  user-select: none;
  padding: 0.25rem 1.5rem;
  opacity: 0;
  transition: opacity 350ms linear;
}

.option-selected,
.option:hover {
  background-color: var(--clr-dark);
  color: var(--clr-pure-white);
}

.filter-title-container img {
  transform: rotate(0deg);
  transition: transform 300ms linear;
}

.options-open .filter-title-container img {
  transform: rotate(180deg);
}

.options-open .options-container {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.options-open .option {
  opacity: 1;
}

@media (min-width: 50em) {
  .home-search-section {
    flex-direction: row;
    justify-content: space-between;
  }
  .home-search-bar-container {
    width: 30rem;
  }
  .home-search-bar {
    width: 100%;
  }
}

/* Countries */

.countries-section {
  place-items: center;
  --gap: 2.5rem;
  margin-top: 2rem;
}

.country-container {
  width: 267px;
  cursor: pointer;
}

.country-container a {
  text-decoration: none;
  color: var(--clr-dark);
}

.country-img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 175px;
  width: 100%;
}

.country-info {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1.5rem 1.5rem 3rem;
}

@media (min-width: 50em) {
  .countries-section {
    place-items: start;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    --gap: 4.5rem;
    margin-top: 3rem;
  }
}

/* Country Page */

.country-page-container {
  margin-top: 2.5rem;
}

.country-page-top {
  align-items: center;
  --gap: 0.625rem;
  padding: 0.75rem 2rem;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
  border: 0;
}

.country-page-top a {
  font-size: var(--fs-600);
  font-weight: 300;
  color: var(--clr-dark);
  text-decoration: none;
}

.country-page-top img {
  width: 12px;
  height: 12px;
}

.country-page-info-container {
  margin-top: 4rem;
}

.country-page-info__image {
  width: 100%;
}

.country-page-info {
  flex-direction: column;
  --gap: 0;
}

.country-page-info__title {
  margin-top: 2.75rem;
}

.country-page-info__main {
  margin-top: 1rem;
}

.country-page-info__secondary {
  margin-top: 2rem;
}

.country-page-info__border-container {
  flex-direction: column;
  --gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.country-page-info__borders {
  --gap: 0.75rem;
  flex-wrap: wrap;
}

.country-page-info__border-item {
  padding: 0.5rem 2rem;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 60em) {
  .country-page-info-container {
    grid-template-columns: 1fr 1fr;
    --gap: 10rem;
  }

  .country-page-info {
    grid-template-columns: 1fr 1fr;
    column-gap: 7rem;
    row-gap: 1.5rem;
    grid-template-areas:
      "title title"
      "main secondary"
      "borders borders";
  }

  .country-page-info__title {
    grid-area: title;
    margin: 0;
  }
  .country-page-info__main {
    grid-area: main;
    margin: 0;
  }
  .country-page-info__secondary {
    grid-area: secondary;
    margin: 0;
  }
  .country-page-info__border-container {
    grid-area: borders;
    margin-top: 3rem;
  }

  .country-page-info__border-container {
    grid-template-columns: max-content 1fr;
    --gap: 3rem;
  }
}

.country-page-loader-container {
  width: 100%;
  place-items: center;
}

/* Spinner */
.spinner-container {
  display: grid;
  place-items: center;
  margin-top: 5rem;
}
